<html>
    <head>
        <title>Home</title>
  
    </head>
    <body>
       
<div>
          <h1>Education Background</h1>
          <table class="tbl1">
              <tr>
              <th>High School</th>
              <th>Subjects</th>
            </tr>
            <tr>
            
                <td>Hoerskool FH Odendaal</td>
                <td>
                    <ul>
                        <li>Afrikaans</li><br>
                        <li>English</li><br>
                        <li>Maths</li><br>
                        <li>Computer Application Technology</li><br>
                        <li>Business Studies</li><br>
                        <li>Accounting</li><br>
                        <li>Life Orientation</li>
                    </ul>
                    
                </td>
            </tr>
          </table>

          <h1>Tertiary Background</h1>
          <table class="tbl1">
              <tr>
              <th>Tertiary</th>
              <th>Modules</th>
            </tr>
            
                <td>Richfield Graduate Institute of Technology</td>
                <td>
                    <ol>
                        <li>Java</li><br>
                        <li>Html</li><br>
                        <li>Information Systems</li><br>
                        <li>Business Management</li><br>
                        <li>Quantative Techniques</li><br>
                        <li>Project Mamngement</li>
                    </ol>
                </td>
            
          </table>
</div>

    </body>
</html>